:root {
    --rowNum: 4;
    --colNum: 4;
}
#container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 500px;
}
#screen {
    border: 2px solid black;
    display: flex;
    justify-content: end;
    padding: 5px;
    margin-bottom: 2px;
}
#buttonsContainer {
    display: grid;
    grid-template-rows: repeat(var(--rowNum), minmax(0px, 1fr));
    grid-template-columns: repeat(var(--colNum), minmax(0px, 1fr));
}
.button {
    padding: 20px;
}